.container-albums {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  overflow-x: hidden;
} 

.cover-albums {
  position: relative;
  width: 170px;
  height: 170px;
  padding: 30px;
}

.cover-albums img {
  min-height: 100%;
  width: 100%;
  opacity: 0.4;
  border-radius: 50%;
}

.cover-albums .title {
  display: block;
  text-align: center;
}

.cover-albums .title a {
  color: white;
  font-size: 0.6rem;
  text-decoration: none;  
}
